        html {
            margin:0;
            padding:0;
            height:100%;
        }

        body {
            margin : 0;
            padding : 0;
            height: 100%;
            display: flex;
            flex-direction: column;
        }

        header {
            height : 2em;
            background-color: green;
            color: white;
            text-align: center;
            line-height : 2em;
            margin: 0;
            padding: 0 0 0 5px;
            font-size: 2em;
        }

        nav {
            height : 2em;
            background-color: white;
            color: black;
            margin: 0;
            padding: 5px 0 5px 5px;
            display: flex;
            flex-direction: column;
            justify-content: center;  
        }

        main {
            overflow-y: auto;
            background-color: white;
            color: black;
            flex-grow: 1;
            margin: 0;
            padding: 0 5px 0 5px;
        }

        /* Font-size para moviles */
        @media only screen and (min-width: 600px) {
            header { font-size: 4em; }
            nav { font-size: 3em; }
            main { font-size: 3em; }
            footer { font-size: 3em; }
        }

        @media only screen and (min-width: 992px) {
            header { font-size: 2em; }
            nav { font-size: 1em; }
            main { font-size: 1em; }
            footer { font-size: 1em; }
        }