<span class="important">Proposals</span>
<div class="container">
    <div class="proposals">
        @for( proposal of proposals(); track proposal.song ) {
        <div class="song">
            <span (click)="createNewTurn( proposal.song, proposal.singer )" class="song-title">{{proposal.song.title}}</span> {{proposal.song.author}} <span class="close right" (click)="removeProposal( proposal )"><b>X</b></span><br>
            <span (click)="createNewTurn( proposal.song, proposal.singer )" class="singer">{{proposal.singer.name}}</span><br>
        </div>
        }
    </div>
</div>
<div class="{{newTurnClasses()}}">
    <form [formGroup]="newTurnForm">
        <div class="newturnform">
            <span style="float:left"><b>New Turn:</b></span>
            <span class="close" (click)="closeNewTurn()"><b>X</b></span>
            <br>
            Song:<input type="text" formControlName="song" readonly><br>
            singer1:<input type="text" formControlName="singer1" readonly><br>
            singer2:
            <select formControlName="singer2">
                @for (singer of singers(); track singer.name ) {
                <option value="{{singer.name}}">{{singer.name}}</option>
                }
            </select><br>
            <span class="error">{{errorMessage()}}</span><br>
            <input type="button" value="Add" (click)="submitNewTurn()">
        </div>
    </form>
</div>
