<div>
<h2>Songs Library</h2>
<div class="formulario">
	<form [formGroup]="searchSongsForm">
	Title: <input type="text" formControlName="title" value=""/><br/>
	Author: <select formControlName="author">
		<option value="" selected></option>
	@for ( author of authors(); track author ) {
		<option value="{{author}}">{{author}}</option>
	}	
	</select><br/>
	Language: <select formControlName="language">
		<option value="" selected></option>
	@for ( language of languages(); track language ) {
		<option value="{{language}}">{{language}}</option>
	}	
	</select><br/>
	<input type="button" value="Search" (click)="searchSongs()"/>
	<input type="button" value="Reset" (click)="reset()"/>
	</form>
</div>
<div class="songlist">
@for (song of songs(); track song.title ) {
	<div (click)="createNewTurn( song )" class="song">
		<b>{{song.author}}</b><br>
		{{song.title}}<br>
		<i>{{song.language}}</i><br>
	</div>
}
</div>
</div>
<div class="{{newTurnClasses()}}">
	<form [formGroup]="newTurnForm">
	<div class="newturnform">
		<span style="float:left"><b>New Turn:</b></span>
		<span class="close" (click)="closeNewTurn()"><b>X</b></span>
		<br>
		Song:<input type="text" formControlName="song"><br>
		singer1:
		<select formControlName="singer1">
			@for (singer of activeSingers(); track singer.name ) {
				<option value="{{singer.name}}">{{singer.name}}</option>
			}			
		</select><br>
		singer2:
		<select formControlName="singer2">
			@for (singer of activeSingers(); track singer.name ) {
				<option value="{{singer.name}}">{{singer.name}}</option>
			}				
		</select><br>
		<span class="error">{{errorMessage()}}</span><br>
		<input type="button" value="Add" (click)="submitNewTurn()">	
	</div>
	</form>
</div>