<span class="important">Current turn:</span>
<div class="current-song">
	<input type="button" class="next" value="next turn" (click)="nextTurn()">
	<span class="song-title">{{currentTurn().song.title}}</span><br>
	<span class="singers">{{currentTurn().singer1.name}} - {{currentTurn().singer2.name}}</span>
</div>
<span class="important">Queue:</span>
<div class="container">
	<div class="queue">
		@for( turn of turnQueue(); track turn.singer1 ) {
			<div class="song">
				<span class="song-title">{{turn.song.title}}</span><br>
				<span class="singers">{{turn.singer1.name}} - {{turn.singer2.name}}</span>
			</div>
		}
	</div>
</div>