div.current-song {
	display:block;
	background-color: burlywood;
}

span.song-title {
	font-weight: 600;
	font-size: large
}

div.queue {
	display:block;
	overflow-y: scroll;
}

input.next {
	font-size:1em;
	background-color: white;
	padding:5px;
	margin-top:5px;
	margin-right:5px;
}

span.right {
    float:right;
}

span.important {
	font-size:1.5em;
	font-weight: bolder;
	color:darkblue;
}